<%- include('partials/base') %>
  <body>
    <h1>Chart API Page (Pie Chart)</h1>
    <div class="row">
    <form class="col s10">
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Label" name="label1" type="text">
        </div>
        <div class="input-field col s2">
            <input placeholder="Value" name="yAxisLabel" type="text">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Label" name="label1" type="text">
        </div>
        <div class="input-field col s2">
            <input placeholder="Value" name="yAxisLabel" type="text">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Label" name="label1" type="text">
        </div>
        <div class="input-field col s2">
            <input placeholder="Value" name="yAxisLabel" type="text">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Label" name="label1" type="text">
        </div>
        <div class="input-field col s2">
            <input placeholder="Value" name="yAxisLabel" type="text">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Label" name="label1" type="text">
        </div>
        <div class="input-field col s2">
            <input placeholder="Value" name="yAxisLabel" type="text">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Label" name="label1" type="text">
        </div>
        <div class="input-field col s2">
            <input placeholder="Value" name="yAxisLabel" type="text">
        </div>
      </div>
    </form>
  </div>
  </body>
</html>